<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AlphaMosaik.Logger.Providers.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="AlphaMosaik.Logger.Providers.Properties.Settings.LoggerConnectionString"
            connectionString="Data Source=.\OFFICESERVERS;Initial Catalog=Logger;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <AlphaMosaik.Logger.Providers.Properties.Settings>
            <setting name="KeyAlphaTextLogProviderIsEnabled" serializeAs="String">
                <value>AlphaTextLogProvider.IsEnabled</value>
            </setting>
            <setting name="KeyAlphaTextLogProviderFilePath" serializeAs="String">
                <value>AlphaTextLogProvider.FilePath</value>
            </setting>
            <setting name="AlphaSqlLogProviderConnectionStringName" serializeAs="String">
                <value>AlphaSqlLogProviderConnectionString</value>
            </setting>
            <setting name="KeyAlphaSqlLogProviderIsEnabled" serializeAs="String">
                <value>AlphaSqlLogProvider.IsEnabled</value>
            </setting>
            <setting name="KeyAlphaSpTraceLogProviderIsEnabled" serializeAs="String">
                <value>AlphaSpTraceLogProvider.IsEnabled</value>
            </setting>
            <setting name="KeyAlphaTextLogProviderMaxFileSize" serializeAs="String">
                <value>AlphaTextLogProvider.MaxFileSize</value>
            </setting>
            <setting name="KeyAlphaEventLogProviderIsEnabled" serializeAs="String">
                <value>AlphaEventLogProvider.IsEnabled</value>
            </setting>
            <setting name="AlphaEventLogProviderSourceName" serializeAs="String">
                <value>AlphaMosaik</value>
            </setting>
        </AlphaMosaik.Logger.Providers.Properties.Settings>
    </applicationSettings>
</configuration>