<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="Alphamosaik.Oceanik.ApplicationService.OceanikServiceApplication">
        <endpoint binding="customBinding"
             bindingConfiguration="OceanikServiceHttpBinding" contract="Alphamosaik.Oceanik.ApplicationService.IOceanikContract" address="" />
        <endpoint binding="customBinding"
             bindingConfiguration="OceanikServiceHttpsBinding" contract="Alphamosaik.Oceanik.ApplicationService.IOceanikContract" address="secure" />
      </service>
    </services>
    <bindings>
      <customBinding>
        <binding name="OceanikServiceHttpBinding">
          <security authenticationMode="IssuedTokenOverTransport"
               allowInsecureTransport="true" />
          <binaryMessageEncoding>
            <readerQuotas maxStringContentLength="1048576"
                 maxArrayLength="2097152" />
          </binaryMessageEncoding>
          <httpTransport maxReceivedMessageSize="2162688"
               authenticationScheme="Anonymous" useDefaultWebProxy="false" />
        </binding>
        <binding name="OceanikServiceHttpsBinding">
          <security authenticationMode="IssuedTokenOverTransport" />
          <binaryMessageEncoding>
            <readerQuotas maxStringContentLength="1048576"
                 maxArrayLength="2097152" />
          </binaryMessageEncoding>
          <httpsTransport maxReceivedMessageSize="2162688"
               authenticationScheme="Anonymous" useDefaultWebProxy="false" />
        </binding>
      </customBinding>
    </bindings>
  </system.serviceModel>
  <system.webServer>
    <security>
      <authentication>
        <anonymousAuthentication enabled="true" />
        <windowsAuthentication enabled="false" />
      </authentication>
    </security>
  </system.webServer>
</configuration>