<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="logger" type="AlphaMosaik.Logger.Configuration.LoggerSection, AlphaMosaik.Logger, Version=1.0.0.0, Culture=neutral, PublicKeyToken=87090ce2894e759d" />
  </configSections>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="LoggerServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="LoggerServiceBehavior" name="AlphaMosaik.Logger.Service.LoggerService">
                <endpoint address="" binding="netTcpBinding" name="TcpBasicEndPoint"
                    contract="AlphaMosaik.Logger.Service.ILogger" />
                <endpoint address="mex" binding="mexTcpBinding" name="" contract="AlphaMosaik.Logger.Service.ILogger" />
                <host>
                    <baseAddresses>
                        <add baseAddress="net.tcp://localhost:1666/AlphaMosaikLogger" />
                        <add baseAddress="http://localhost:1667/AlphaMosaikLogger" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
  <connectionStrings>
    <add name="AlphaSqlLogProviderConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=.\OFFICESERVERS;Initial Catalog=Logger;Integrated Security=True"/>
  </connectionStrings>
  <logger enabled="false" logLevel="Information">
    <providerDefinitions>
      <add name="AlphaTextLogProvider" displayName="AlphaMosaik Text Logger Provider" description="This provider allows to log entries into text files. Files location can be configured" assembly="AlphaMosaik.Logger.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=f824ae840337b550" class="AlphaMosaik.Logger.Providers.AlphaTextLogProvider"/>
      <add name="AlphaSqlLogProvider" displayName="AlphaMosaik SQL Logger Provider" description="This provider allows to log entries into a SQL Server database." assembly="AlphaMosaik.Logger.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=f824ae840337b550" class="AlphaMosaik.Logger.Providers.AlphaSqlLogProvider"/>
      <add name="AlphaSpTraceLogProvider" displayName="AlphaMosaik SharePoint Trace Logger Provider" description="This provider allows to log entries into SharePoint Logs." assembly="AlphaMosaik.Logger.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=f824ae840337b550" class="AlphaMosaik.Logger.Providers.AlphaSpTraceLogProvider"/>
      <add name="AlphaEventLogProvider" displayName="AlphaMosaik Event Log Provider" description="This provider allows to log entries into the AlphaMosaik event log." assembly="AlphaMosaik.Logger.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=f824ae840337b550"  class="AlphaMosaik.Logger.Providers.AlphaEventLogProvider"/>
      <add name="AlphaSlowLogProvider" displayName="AlphaMosaik Diagnostic Slow Provider" description="This provider can be used to diagnose the logger." assembly="AlphaMosaik.Logger, Version=1.0.0.0, Culture=neutral, PublicKeyToken=87090ce2894e759d" class="AlphaMosaik.Logger.Diagnostics.SlowProvider"/>
    </providerDefinitions>
    <providerSettings>
      <add key="AlphaTextLogProvider.IsEnabled" value="true"/>
      <add key="AlphaTextLogProvider.FilePath" value="C:\ALPHALOGS\LOGS.txt"/>
      <add key="AlphaSpTraceLogProvider.IsEnabled" value="false"/>
      <add key="AlphaSqlLogProvider.IsEnabled" value="false"/>
      <add key="AlphaTextLogProvider.MaxFileSize" value="1024"/>
      <add key="AlphaEventLogProvider.IsEnabled" value="false"/>
      <add key="AlphaSlowLogProvider.IsEnabled" value="false"/>
      <add key="AlphaSlowLogProvider.SleepTime" value="1000"/>
    </providerSettings>
  </logger>
</configuration>