<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="http"
                binding="customBinding" bindingConfiguration="OceanikServiceHttpBinding"
                contract="Alphamosaik.Oceanik.ApplicationService.IOceanikContract" />
      <endpoint name="https"
                binding="customBinding" bindingConfiguration="CalcerviceHttpsBinding"
                contract="Alphamosaik.Oceanik.ApplicationService.IOceanikContract" />
    </client>
    <bindings>
      <customBinding>
        <binding name="OceanikServiceHttpBinding">
          <security authenticationMode="IssuedTokenOverTransport" allowInsecureTransport="true" />
          <binaryMessageEncoding>
            <readerQuotas maxStringContentLength="1048576" maxArrayLength="2097152" />
          </binaryMessageEncoding>
          <httpTransport maxReceivedMessageSize="2162688" authenticationScheme="Anonymous" useDefaultWebProxy="false" />
        </binding>
        <binding name="CalcerviceHttpsBinding">
          <security authenticationMode="IssuedTokenOverTransport" />
          <binaryMessageEncoding>
            <readerQuotas maxStringContentLength="1048576" maxArrayLength="2097152" />
          </binaryMessageEncoding>
          <httpsTransport maxReceivedMessageSize="2162688" authenticationScheme="Anonymous" useDefaultWebProxy="false" />
        </binding>
      </customBinding>
    </bindings>
  </system.serviceModel>

</configuration>
