<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="logger" type="AlphaMosaik.Logger.Configuration.LoggerSection, AlphaMosaik.Logger, Version=1.0.0.0, Culture=neutral, PublicKeyToken=87090ce2894e759d" />
  </configSections>
  <logger enabled="false">
    <providerDefinitions defaultProvider="AlphaTextLogProvider">
      <add name="AlphaTextLogProvider" displayName="AlphaMosaik Text Logger Provider" description="This provider allows to log entries into text files. Files location can be configured" assembly="AlphaMosaik.Logger, Version=1.0.0.0, Culture=neutral, PublicKeyToken=87090ce2894e759d" class="AlphaMosaik.Logger.Storage.AlphaLogStorageProvider"/>
    </providerDefinitions>
    <providerSettings>
      <add key="AlphaTextLogProvider.IsEnabled" value="true"/>
      <add key="AlphaTextLogProvider.FilePath" value="C:\LOGS.txt"/>
    </providerSettings>
  </logger>
</configuration>